In [ ]:
### Crime in the time of Corona.  Mockup Database.

In [41]:
## Add dependencies: Pandas
import pandas as pd
import os # needed to use the os.path.join method to load the files
from sqlalchemy import create_engine # for integrating with PostgreSQL
from config import db_password

In [7]:
## Files to Load
crimes_raw = os.path.join ("CrimeCoronaMockUp.csv")

In [8]:
#Load the csv into a dataframe.
crimes_raw_df = pd.read_csv(crime_raw)

In [10]:
## Review the data. 
crimes_raw_df.head(3)

,CID,SID,Sus_Gen,Sus_Age,VID,Vic_Gen,Vic_Age,Penal_Code,Penal_Desc,Crime_Desc,Date_Time,Loc_Add,Loc_City,Loc_State,Loc_Zip,Loc_Lat,Loc_Lng,Mis_Fel,Inc_Result
0,18-023863,16,M,18,19,M,13,NaN,RECOVERED O/S STOLEN,VEHICLE THEFT - AUTO,5/24/2018 9:00,6500 FOOTHILL BLVD,Oakland,CA,94610,37.990915,122.727477,TBD,DAReferral
1,19-009698,57,M,18,60,M,13,470(b),FORGERY & COUNTERFEITING,OBT CREDIT/ETC:OTHER'S ID,8/20/2018 0:00,100 HEGENBERGER RD,Oakland,CA,94610,37.988915,122.722477,F,Citation
2,19-061510,78,M,18,81,M,13,459,BURG - AUTO,BURGLARY-AUTO,11/24/2019 2:20,73RD AV & HEGENBERGER RD,Oakland,CA,94623,37.934915,122.587477,M,Booking

In [11]:
## Clean Up of Data. Just a placeholder for now.

In [ ]:
# Creation of sub dataframes

In [13]:
# Assumes cleanup is complete and changes have been made to data. First the overall complete dataset.
crimes_df = crimes_raw_df

In [18]:
# Create the suspects datafram
suspects_df = crimes_raw_df[["SID", "Sus_Gen","Sus_Age"]].copy()
suspects_df.head(3)

   SID Sus_Gen  Sus_Age
0   16       M       18
1   57       M       18
2   78       M       18

In [20]:
# Create the victims dataframe
victims_df = crimes_raw_df[["VID", "Vic_Gen","Vic_Age"]].copy()
victims_df.head(3)

   VID Vic_Gen  Vic_Age
0   19       M       13
1   60       M       13
2   81       M       13

In [24]:
# Create the Penal Codes dataframe
penal_codes_df = crimes_raw_df[["Penal_Code","Penal_Desc"]].copy()
penal_codes_df.head(3)

  Penal_Code                Penal_Desc
0        NaN      RECOVERED O/S STOLEN
1     470(b)  FORGERY & COUNTERFEITING
2        459               BURG - AUTO

In [1]:
# Create the Outcomes dataframe -- insufficient data at this time.

In [ ]:
## Now export each new DF to csv.

In [30]:
# Crimes to CSV
output_crimes = "crimes.csv"
crimes_df.to_csv(output_crimes, index=False)

In [31]:
# Suspects to CSV
output_suspects = "suspects.csv"
suspects_df.to_csv(output_suspects, index=False)

In [35]:
# Victims to CSV
output_victims = "victims.csv"
victims_df.to_csv(output_victims, index=False)

In [36]:
# Penal Codes to CSV
output_penal_codes = "penal_codes.csv"
penal_codes_df.to_csv(output_penal_codes, index=False)

In [39]:
# Outcomes to CSV
output_outcomes = "outcomes.csv"
outcomes_df.to_csv(output_outcomes, index=False)

Now Connect to PostgreSQL and export dataframes as tables into crime_corona database.

In [42]:
# Create the database engine
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/crime_corona"

In [43]:
# Create the engine
engine = create_engine(db_string)

In [45]:
# Crimes to SQL
crimes_df.to_sql(name='crimes', con=engine)

In [47]:
# Suspects to SQL
suspects_df.to_sql(name='suspects', con=engine)

In [50]:
# Victims to SQL
victims_df.to_sql(name='victims', con=engine)

In [51]:
# Penal Codes to SQL
penal_codes_df.to_sql(name='penal_codes', con=engine)

In [52]:
# Outcomes to SQL
outcomes_df.to_sql(name='outcomes', con=engine)