### Crime in the time of Corona - Create DB from raw CSV tables

In [2]:
## Add dependencies: Pandas
import pandas as pd
import os # needed to use the os.path.join method to load the files
from sqlalchemy import create_engine # for integrating with PostgreSQL
from config import db_password

#### Incidents: Load raw csv, create dataframe and clean data.

In [14]:
# Load the incidentTable.csv into a dataframe.
incidents_raw_df = pd.read_csv("../Resources - MPD Data/incidentTable.csv")

In [16]:
# Review the incidentstable structure
incidents_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1789 entries, 0 to 1788
Data columns (total 16 columns):
Number                1789 non-null object
dateReported          1788 non-null object
startDate             1788 non-null object
offenseCode           1789 non-null object
offenseDescription    1789 non-null object
streetAddress         1784 non-null object
cityDescription       1739 non-null object
stateDescription      1225 non-null object
zipCode               1517 non-null object
longitude             1764 non-null float64
latitude              1764 non-null float64
Booked                1789 non-null int64
DAComplaint           1789 non-null int64
Cited                 1789 non-null int64
burglaryFactor        351 non-null object
felonyMisdemeanor     1720 non-null object
dtypes: float64(2), int64(3), object(11)
memory usage: 223.8+ KB

In [17]:
# Review the incidents data
incidents_raw_df.head()

,Number,dateReported,startDate,offenseCode,offenseDescription,streetAddress,cityDescription,stateDescription,zipCode,longitude,latitude,Booked,DAComplaint,Cited,burglaryFactor,felonyMisdemeanor
0,MP19037614,"Dec 31, 2019, 7:10:57 PM","Dec 31, 2019, 7:00:00 PM",245 (A)(1) PC,245 (A)(1) PC FORCE OR ADW NOT FIREARM:GBI LIK...,OAKDALE RD & FLOYD AVE,MODESTO,CALIFORNIA,95355,-120.957770,37.678080,0,0,0,NaN,FELONY
1,MP19037565,"Dec 31, 2019, 9:01:31 AM","Dec 31, 2019, 12:30:00 AM",460(B) PC,460(B) PC BURGLARY: VEHICLE/LARCENY 06 Theft 2190,3120 PELANDALE AVE,MO,CALIFORNIA,NaN,-121.052988,37.699369,0,0,0,NaN,FELONY
2,MP19037555,"Dec 31, 2019, 8:12:40 AM","Dec 31, 2019, 5:00:00 AM",460(B) PC,460(B) PC BURGLARY: VEHICLE/LARCENY 06 Theft 2190,3120 PELANDALE AVE,MODESTO,CALIFORNIA,95356,-121.053001,37.699374,0,0,0,NaN,FELONY
3,MP19037568,"Dec 31, 2019, 9:36:26 AM","Dec 31, 2019, 9:30:00 AM",460 (A) PC,460 (A) PC BURGLARY:FIRST DEGREE 05 Burglary -...,2129 CLAYMONT DR,MODESTO,CALIFORNIA,95350,-121.033225,37.687181,1,0,0,RESIDENCE - DAY (6AM - 6PM),FELONY
4,MP19037568,"Dec 31, 2019, 9:36:26 AM","Dec 31, 2019, 9:30:00 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,2129 CLAYMONT DR,MODESTO,CALIFORNIA,95350,-121.033225,37.687181,1,0,0,NaN,FELONY

#### Suspects: Load raw csv, create dataframe and clean data.

In [19]:
# Load the suspects csv into a dataframe.
suspects_raw_df = pd.read_csv("../Resources - MPD Data/suspectTable.csv")

In [20]:
# Review the suspects table structure
suspects_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 5 columns):
caseID        1878 non-null object
personID      1878 non-null float64
Age           1017 non-null object
Sex           1003 non-null object
Unnamed: 4    0 non-null float64
dtypes: float64(2), object(3)
memory usage: 74.0+ KB

In [22]:
# Review the suspects data
suspects_raw_df.head()

       caseID  personID  Age     Sex  Unnamed: 4
0  MP20010240    3877.0   16    MALE         NaN
1  MP20007353    2309.0   54  FEMALE         NaN
2  MP20010311    3570.0   23    MALE         NaN
3  MP20006201    4931.0  NaN     NaN         NaN
4  MP20009508    3986.0   23    MALE         NaN

#### Victims: Load raw csv, create dataframe and clean data.

In [23]:
# Load the victims csv into a dataframe.
victims_raw_df = pd.read_csv("../Resources - MPD Data/victimTable.csv")

In [24]:
# Review the suspects table structure
victims_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1738 entries, 0 to 1737
Data columns (total 4 columns):
caseID      1738 non-null object
personID    1738 non-null int64
Age         1738 non-null object
Sex         1738 non-null object
dtypes: int64(1), object(3)
memory usage: 54.4+ KB

In [25]:
# Review the suspects data
victims_raw_df.head()

       caseID  personID Age     Sex
0  MP19035391      2938  35  FEMALE
1  MP19036742      2855  37  FEMALE
2  MP19037368      2399  50    MALE
3  MP19037420      3638  22  FEMALE
4  MP19037447      3885  15  FEMALE