### Crime in the time of Corona - ETL for Combining FBI Crime and Employment Data into a single dataframe by Year and By State.

In [1]:
## Add dependencies: Pandas
%matplotlib inline
import pandas as pd
import numpy as np
import os # needed to use the os.path.join method to load the files
from sqlalchemy import create_engine # for integrating with PostgreSQL
from config import db_password  # for reading postgress db password 
import matplotlib.pyplot as plt # for graphing with Matplotlib
from sqlalchemy import create_engine # for integrating with PostgreSQL
from config import db_password
from sklearn.preprocessing import LabelEncoder
from scipy import stats

#### FBI Crime Data:  Load raw csv, create dataframe and clean data.

In [2]:
#### FBICrimes Load and Clean the 1980 to 2018 csv data into a dataframe
FBICrimesRaw_df =  pd.read_csv("../Resources/est_crimes_1980_2018_FBI_UCRdata.csv")
FBICrimesRaw_df.head()

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault
0,1980,AK,440142,1919,39,250.0,NaN,360,1270
1,1980,AL,3861466,17320,509,1158.0,NaN,5102,10551
2,1980,AR,2284037,7656,210,609.0,NaN,1848,4989
3,1980,AZ,2715357,17673,279,1227.0,NaN,5258,10909
4,1980,CA,23532680,210290,3411,13693.0,NaN,90420,102766

In [3]:
## Check for missing values. 
#  Found 1974 valuesin most columns, except rape_legacy and rape_revised columns. 
# No need to drop anything as we are mostly interested in aggravated_assualt

#FBICrimesRaw_df.count()    
#FBICrimesRaw_df.isnull()  # Confirms Nulls.
#FBICrimesRaw_df.isnull().sum() # Confirms with NULL count

In [4]:
## Review data types
#  All integers and floats which is good for stats and ML models. Except State with is text.
#  See no need for data conversions.
FBICrimesRaw_df.dtypes

year                    int64
state_abbr             object
population              int64
violent_crime           int64
homicide                int64
rape_legacy           float64
rape_revised          float64
robbery                 int64
aggravated_assault      int64
dtype: object

In [5]:
# Crime: Create a primary unique field: Year plus State. Call it PID for PrimaryId
FBICrimesRaw_df["PID"] = FBICrimesRaw_df["year"].astype(str) + '-' + FBICrimesRaw_df["state_abbr"]
FBICrimesRaw_df
FBICrimesRaw_df.set_index('PID',inplace=True)
FBICrimesRaw_df.head()

,year,state_abbr,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault
PID,,,,,,,,,
1980-AK,1980,AK,440142,1919,39,250.0,NaN,360,1270
1980-AL,1980,AL,3861466,17320,509,1158.0,NaN,5102,10551
1980-AR,1980,AR,2284037,7656,210,609.0,NaN,1848,4989
1980-AZ,1980,AZ,2715357,17673,279,1227.0,NaN,5258,10909
1980-CA,1980,CA,23532680,210290,3411,13693.0,NaN,90420,102766

### Create a Crimes by Year Dataframe.

In [6]:
# FBICrimesByYear_df = FBICrimesRaw_df.groupby('year).sum()
CrimesByYear = FBICrimesRaw_df.groupby('year').sum().reset_index()
CrimesByYear_df=pd.DataFrame(CrimesByYear)
CrimesByYear_df.head(3)

,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault
0,1980,222877773,1335465,22679,82327.0,0.0,563581,666878
1,1981,226616000,1353533,22197,81788.0,0.0,590570,658978
2,1982,228984000,1314381,20654,78051.0,0.0,550976,664700

###  Create variables for Secondary Analysis

In [7]:
# PerCapita Calculations
CrimesByYear_df["violent_crime_perCap"] = CrimesByYear_df["violent_crime"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df["homicide_perCap"] = CrimesByYear_df["homicide"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df["rape_leg_perCap"] = CrimesByYear_df["rape_legacy"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df["rape_rev_perCap"] = CrimesByYear_df["rape_revised"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df["robbery_perCap"] = CrimesByYear_df["robbery"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df["aggr_assa_perCap"] = CrimesByYear_df["aggravated_assault"] / (CrimesByYear_df["population"]) * 100
CrimesByYear_df.head(3)

,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,violent_crime_perCap,homicide_perCap,rape_leg_perCap,rape_rev_perCap,robbery_perCap,aggr_assa_perCap
0,1980,222877773,1335465,22679,82327.0,0.0,563581,666878,0.599192,0.010176,0.036938,0.0,0.252866,0.299212
1,1981,226616000,1353533,22197,81788.0,0.0,590570,658978,0.597280,0.009795,0.036091,0.0,0.260604,0.290791
2,1982,228984000,1314381,20654,78051.0,0.0,550976,664700,0.574006,0.009020,0.034086,0.0,0.240618,0.290282

In [8]:
## Reorder Columns
neworder = ['year','population','violent_crime','violent_crime_perCap','homicide','homicide_perCap','rape_legacy', 'rape_leg_perCap','robbery', 'robbery_perCap','aggravated_assault', 'aggr_assa_perCap']
CrimesByYear_df=CrimesByYear_df.reindex(columns=neworder)
CrimesByYear_df.head(3)

,year,population,violent_crime,violent_crime_perCap,homicide,homicide_perCap,rape_legacy,rape_leg_perCap,robbery,robbery_perCap,aggravated_assault,aggr_assa_perCap
0,1980,222877773,1335465,0.599192,22679,0.010176,82327.0,0.036938,563581,0.252866,666878,0.299212
1,1981,226616000,1353533,0.597280,22197,0.009795,81788.0,0.036091,590570,0.260604,658978,0.290791
2,1982,228984000,1314381,0.574006,20654,0.009020,78051.0,0.034086,550976,0.240618,664700,0.290282

### Import, inspect and clean the Employment Data

In [9]:
employment_raw_df =  pd.read_csv("../Resources/unemployment_by_state_1980_2018_BLSdata.csv")
employment_raw_df.head(3)

,Year,State,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yr Avg
0,1980,AK,10.2,10.9,10.8,10.6,9.6,10.2,8.8,8.2,8.5,8.8,9.3,9.6,9.6
1,1981,AK,11.0,11.0,10.3,9.1,8.8,9.5,8.3,8.0,8.4,8.8,9.5,9.9,9.4
2,1982,AK,11.4,11.6,11.1,10.3,9.9,10.1,8.7,8.2,8.6,9.1,10.0,10.3,9.9

In [10]:
## Check for missing values. 
#  Found 1989 row counts. Nice tight complete database.
# employment_raw_df.count()    
# employment_raw_df.isnull()  # Confirms Nulls.
# employment_raw_df.isnull().sum() # Confirms with NULL count

In [11]:
# Employment: Create a primary unique field: Year plus State. Call it PID for PrimaryId
employment_raw_df["PID"] = employment_raw_df["Year"].astype(str) + '-' + employment_raw_df["State"]
#employment_raw_df
employment_raw_df.set_index('PID',inplace=True)
employment_raw_df.head()

,Year,State,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yr Avg
PID,,,,,,,,,,,,,,,
1980-AK,1980,AK,10.2,10.9,10.8,10.6,9.6,10.2,8.8,8.2,8.5,8.8,9.3,9.6,9.6
1981-AK,1981,AK,11.0,11.0,10.3,9.1,8.8,9.5,8.3,8.0,8.4,8.8,9.5,9.9,9.4
1982-AK,1982,AK,11.4,11.6,11.1,10.3,9.9,10.1,8.7,8.2,8.6,9.1,10.0,10.3,9.9
1983-AK,1983,AK,11.9,12.1,11.4,10.4,9.9,9.8,8.5,8.3,8.6,9.0,9.7,10.1,10.0
1984-AK,1984,AK,11.7,11.8,11.3,10.8,10.1,10.0,8.7,8.1,8.5,8.7,9.4,9.3,9.9

In [12]:
# rename the "Yr Avg" column to avoid potentialspace in name pitfalls.
employment_raw_df.rename(columns={"Yr Avg": "emp_rate"}, inplace=True)
employment_raw_df.head()

,Year,State,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,emp_rate
PID,,,,,,,,,,,,,,,
1980-AK,1980,AK,10.2,10.9,10.8,10.6,9.6,10.2,8.8,8.2,8.5,8.8,9.3,9.6,9.6
1981-AK,1981,AK,11.0,11.0,10.3,9.1,8.8,9.5,8.3,8.0,8.4,8.8,9.5,9.9,9.4
1982-AK,1982,AK,11.4,11.6,11.1,10.3,9.9,10.1,8.7,8.2,8.6,9.1,10.0,10.3,9.9
1983-AK,1983,AK,11.9,12.1,11.4,10.4,9.9,9.8,8.5,8.3,8.6,9.0,9.7,10.1,10.0
1984-AK,1984,AK,11.7,11.8,11.3,10.8,10.1,10.0,8.7,8.1,8.5,8.7,9.4,9.3,9.9

In [13]:
## Split Unemployment Into a new variable. 
##Above 4.5 is True and Below is False
employment_raw_df["high_emp"] = employment_raw_df["emp_rate"] >   4.5
employment_raw_df.head(3)

,Year,State,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,emp_rate,high_emp
PID,,,,,,,,,,,,,,,,
1980-AK,1980,AK,10.2,10.9,10.8,10.6,9.6,10.2,8.8,8.2,8.5,8.8,9.3,9.6,9.6,True
1981-AK,1981,AK,11.0,11.0,10.3,9.1,8.8,9.5,8.3,8.0,8.4,8.8,9.5,9.9,9.4,True
1982-AK,1982,AK,11.4,11.6,11.1,10.3,9.9,10.1,8.7,8.2,8.6,9.1,10.0,10.3,9.9,True

In [14]:
## Encode new High Employment field for regression and modeling.
# High Employment (over 4.5) becomes 1 and below 4.5 becomes '0'
le = LabelEncoder()
employment_raw_df['high_emp'] = le.fit_transform(employment_raw_df['high_emp'])
employment_raw_df.head(3)

,Year,State,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,emp_rate,high_emp
PID,,,,,,,,,,,,,,,,
1980-AK,1980,AK,10.2,10.9,10.8,10.6,9.6,10.2,8.8,8.2,8.5,8.8,9.3,9.6,9.6,1
1981-AK,1981,AK,11.0,11.0,10.3,9.1,8.8,9.5,8.3,8.0,8.4,8.8,9.5,9.9,9.4,1
1982-AK,1982,AK,11.4,11.6,11.1,10.3,9.9,10.1,8.7,8.2,8.6,9.1,10.0,10.3,9.9,1

### Employment by Year

In [15]:
# Restrict to year, emp_rate and high_emp
employment_yearly_df = employment_raw_df[["Year", "emp_rate"]].copy()
employment_yearly_df.head(3)

         Year  emp_rate
PID
1980-AK  1980       9.6
1981-AK  1981       9.4
1982-AK  1982       9.9

In [16]:
# Unemployment by Year Mean
EmploymentYearly = employment_yearly_df.groupby('Year').mean().reset_index()
EmploymentYearly_df=pd.DataFrame(EmploymentYearly)
EmploymentYearly_df.head()

   Year  emp_rate
0  1980  6.811765
1  1981  7.325490
2  1982  9.217647
3  1983  9.162745
4  1984  7.309804

In [17]:
## Create the high emp variable in this summary dataframe. Above 4.5 percent is high = 1
le = LabelEncoder()
EmploymentYearly_df["high_emp"] = EmploymentYearly_df["emp_rate"] >   4.5
EmploymentYearly_df['high_emp'] = le.fit_transform(EmploymentYearly_df['high_emp'])
EmploymentYearly_df.head(3)

   Year  emp_rate  high_emp
0  1980  6.811765         1
1  1981  7.325490         1
2  1982  9.217647         1

In [16]:
# Secondary Analysis - Create a filtered dataframe with Filter EmpRate by over 6%
#high_emp=EmploymentYearly["Yr Avg"] > 5.99
#high_emp_df = EmploymentYearly_df[high_emp]
#high_emp_df.head()

### Merge the Crime and Employment data frames

In [17]:
## Now we merge the dataframes..
#  Never figured out why this did not work. arggh....
# CrimesEmploymentByYear_df= pd.merge(FBICrimesRaw_df, EmploymentYearly_df, on=["year","Year"])
# CrimesEmploymentByYear_df.head(3)

In [18]:
## Sweet way to get the dataframes to merge.  
#  For some reason, the normal method in the cell above did not work, so DeShan Yu offered this alternative method.
CrimesEmploymentByYear_df=CrimesByYear_df.copy()
CrimesEmploymentByYear_df[["emp_rate","high_emp"]]=EmploymentYearly_df[["emp_rate","high_emp"]]
CrimesEmploymentByYear_df.head(3)

,year,population,violent_crime,violent_crime_perCap,homicide,homicide_perCap,rape_legacy,rape_leg_perCap,robbery,robbery_perCap,aggravated_assault,aggr_assa_perCap,emp_rate,high_emp
0,1980,222877773,1335465,0.599192,22679,0.010176,82327.0,0.036938,563581,0.252866,666878,0.299212,6.811765,1
1,1981,226616000,1353533,0.597280,22197,0.009795,81788.0,0.036091,590570,0.260604,658978,0.290791,7.325490,1
2,1982,228984000,1314381,0.574006,20654,0.009020,78051.0,0.034086,550976,0.240618,664700,0.290282,9.217647,1

In [19]:
## Secondary Analysis - Filtered Dataset by High Unemployment.

In [ ]:
# Create Merged High Employment Dataset  --- seems unnecessary now that we have high emp variable
#HighEmp_df=CrimesByYear_df.copy()
#HighEmp_df["Yr Avg"]=high_emp_df["Yr Avg"]
## rename the "Yr Avg" column to avoid potentialspace in name pitfalls.#
#HighEmp_df.rename(columns={"Yr Avg": "emp_rate"}, inplace=True)
#HighEmp_df=HighEmp_df.dropna(subset=["emp_rate"])
#a = df.dropna(subset=['with_nans'])
#HighEmp_df.head(30)

#### Exploratory & Secondary Data Analysis 
revisiting the data with derived per capita fields and restriction of years to unemployment higher than 6%

In [ ]:
## Some Quick Stats
CrimesEmploymentByYear_df.describe() # not really useful

In [ ]:
# Correlation Matrix for preliminary analysis
corrMatrix = CrimesEmploymentByYear_df.corr()
print(corrMatrix)
## Review shows Annual average unemployment rate has a 
# a moderately negative relationship with aggravated assault at -0.439.
# Aggravated assualt does show a weak positive relationship with robbery at 0.21.
# Review suggests a focus on robbery and aggravated assault, along with unemployment of course.
# Violent crime paints an overall picture of crime, and correlates strongly with robbery at 0.82 and aggravated assault at 0.92
# As aggravated assualt tends to capture domestic crime while presumably robbery tends to 
# happen outside the home, so further analysis should focus on comparing violent crime, aggravated assualt and robbery. 
## violent crime, aggravated assualt and robbery.

In [19]:
# Create a sub data frame of three crimes and unemployment.
CriEmpByYear_filtered_df = CrimesEmploymentByYear_df[["emp_rate", "high_emp","violent_crime", "robbery","aggravated_assault" ]].copy()
CriEmpByYear_filtered_df.head()

   emp_rate  high_emp  violent_crime  robbery  aggravated_assault
0  6.811765         1        1335465   563581              666878
1  7.325490         1        1353533   590570              658978
2  9.217647         1        1314381   550976              664700
3  9.162745         1        1250396   504666              648437
4  7.309804         1        1265468   483204              680340

In [21]:
# Correlation Matrix limited to our target variables.
corrMatrixFiltered = CriEmpByYear_filtered_df.corr()
print(corrMatrixFiltered)

                    emp_rate  high_emp  violent_crime   robbery  \
emp_rate            1.000000  0.562729      -0.207668  0.213240
high_emp            0.562729  1.000000       0.119486  0.331913
violent_crime      -0.207668  0.119486       1.000000  0.816760
robbery             0.213240  0.331913       0.816760  1.000000
aggravated_assault -0.439715 -0.050996       0.915122  0.520962

                    aggravated_assault
emp_rate                     -0.439715
high_emp                     -0.050996
violent_crime                 0.915122
robbery                       0.520962
aggravated_assault            1.000000

In [20]:
## Secondary Analysis: Create a data frame of three crimes per capita and unemployment.
CriEmpByYearPerCap_df = CrimesEmploymentByYear_df[["emp_rate", "violent_crime_perCap", "robbery_perCap","aggr_assa_perCap" ]].copy()
CriEmpByYearPerCap_df.head()

   emp_rate  violent_crime_perCap  robbery_perCap  aggr_assa_perCap
0  6.811765              0.599192        0.252866          0.299212
1  7.325490              0.597280        0.260604          0.290791
2  9.217647              0.574006        0.240618          0.290282
3  9.162745              0.540378        0.218099          0.280232
4  7.309804              0.541810        0.206884          0.291288

In [23]:
## Secondary Analysis. Reduce High Emp to target colums and run Correlation Matrix of high unemployment dataset
HighEmp_df =CrimesEmploymentByYear_df[["emp_rate", "violent_crime_perCap", "robbery_perCap","aggr_assa_perCap" ]].copy()
corrMatrixHighEmp = HighEmp_df.corr()
print(corrMatrixHighEmp)
plt.savefig("../Images/Secondary_Analysis_High_Emp_Correlation_Matrix.png")

                      emp_rate  violent_crime_perCap  robbery_perCap  \
emp_rate              1.000000              0.046672        0.289909
violent_crime_perCap  0.046672              1.000000        0.935390
robbery_perCap        0.289909              0.935390        1.000000
aggr_assa_perCap     -0.158732              0.948659        0.777642

                      aggr_assa_perCap
emp_rate                     -0.158732
violent_crime_perCap          0.948659
robbery_perCap                0.777642
aggr_assa_perCap              1.000000

In [ ]:
# Secondary Analysis:Correlation Matrix of target variables
corrMatrixPerCap = CriEmpByYearPerCap_df.corr()
print(corrMatrixPerCap)
#plt.savefig("../Images/Secondary_Analysis_per_Capita_Correlation_Matrix.png")

#### Analysis of crime and employment as high or low. High set at  4.5 or higher.

In [28]:
CrimesEmploymentByYear_df.head()

,year,population,violent_crime,violent_crime_perCap,homicide,homicide_perCap,rape_legacy,rape_leg_perCap,robbery,robbery_perCap,aggravated_assault,aggr_assa_perCap,emp_rate,high_emp
0,1980,222877773,1335465,0.599192,22679,0.010176,82327.0,0.036938,563581,0.252866,666878,0.299212,6.811765,1
1,1981,226616000,1353533,0.597280,22197,0.009795,81788.0,0.036091,590570,0.260604,658978,0.290791,7.325490,1
2,1982,228984000,1314381,0.574006,20654,0.009020,78051.0,0.034086,550976,0.240618,664700,0.290282,9.217647,1
3,1983,231393000,1250396,0.540378,19018,0.008219,78275.0,0.033828,504666,0.218099,648437,0.280232,9.162745,1
4,1984,233563000,1265468,0.541810,18437,0.007894,83487.0,0.035745,483204,0.206884,680340,0.291288,7.309804,1

In [21]:
## Violent Crime per Capita - Compare Means
vcmean= CrimesEmploymentByYear_df.groupby("high_emp")["violent_crime_perCap"].mean()
vcmean

high_emp
0    0.474785
1    0.550687
Name: violent_crime_perCap, dtype: float64

In [22]:
## T-Test Independent. Compare Violent Crime by Unemployment
x = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 1).dropna()["violent_crime_perCap"]
y = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 0).dropna()["violent_crime_perCap"]
stats.ttest_ind(x,y)
## pvalue of 0.13 is not promising

Ttest_indResult(statistic=1.5386494243284372, pvalue=0.1323990959661574)

In [23]:
## Robbery per Capita - Compare Means
rbmean= CrimesEmploymentByYear_df.groupby("high_emp")["robbery_perCap"].mean()
rbmean

high_emp
0    0.134817
1    0.185808
Name: robbery_perCap, dtype: float64

In [24]:
## Compare Robbery by Unemployment
x = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 1).dropna()["robbery_perCap"]
y = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 0).dropna()["robbery_perCap"]
stats.ttest_ind(x,y)
## pvalue of 0.03 is very promising!!!

Ttest_indResult(statistic=2.2311035511759014, pvalue=0.031818398235789774)

In [46]:
## Aggravated Assault per Capita - Compare Means
agmean= CrimesEmploymentByYear_df.groupby("high_emp")["aggr_assa_perCap"].mean()
agmean

high_emp
0    0.299258
1    0.322244
Name: aggr_assa_perCap, dtype: float64

In [47]:
## Compare Aggravated Assault by Unemployment
x = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 1).dropna()["aggr_assa_perCap"]
y = CrimesEmploymentByYear_df.where(CrimesEmploymentByYear_df.high_emp == 0).dropna()["aggr_assa_perCap"]
stats.ttest_ind(x,y)
## pvalue of 0.41 is very poor.

Ttest_indResult(statistic=0.8310605106127, pvalue=0.41127052269491304)

### Box and Whisper Plots

In [ ]:
# Create a box-and-whisker plot Unemployment Rate
x_labels = ["Unemployment Rate"]
fig, ax = plt.subplots()
ax.boxplot(CrimesEmploymentByYear_df["emp_rate"], labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Unemployment Rate 1980-2018. Box and Whisper')
ax.set_ylabel('Unemployment Rate')
ax.grid()
plt.savefig("../Images/EDA-Unemployment Rate Box and Whisper.png")
plt.show()

In [ ]:
# Create a box-and-whisker plot for Violent Crime. Not really helpful at this point,.
x_labels = ["Violent Crime"]
fig, ax = plt.subplots()
ax.boxplot(CrimesEmploymentByYear_df["violent_crime"], labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Violent Crime 1980-2018. Box and Whisper')
ax.set_ylabel('Violent Crime Count')
ax.grid()
plt.show()

In [ ]:
# Create a box-and-whisker plot for Robbery
fig, ax = plt.subplots()
ax.boxplot(CrimesEmploymentByYear_df["robbery"], labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Robbery 1980 -2018. Box and Whisper')
ax.set_ylabel('Robbery Count')
ax.grid()
plt.show()

In [ ]:
# Create a box-and-whisker plot for Aggravated Assault
fig, ax = plt.subplots()
ax.boxplot(CrimesEmploymentByYear_df["aggravated_assault"], labels=x_labels)
# Add the title, y-axis label and grid.
ax.set_title('Aggravated Assault 1980 -2018. Box and Whisper')
ax.set_ylabel('Aggravated Assault Count')
ax.grid()
plt.show()

### Plot our data of interest

In [ ]:
# DefineY axis for plotting
x_axis = CrimesEmploymentByYear_df["year"]
y_axis = CrimesEmploymentByYear_df["population"]
vc_axis = CrimesEmploymentByYear_df["violent_crime"]
rc_axis = CrimesEmploymentByYear_df["robbery"]
ag_axis = CrimesEmploymentByYear_df["aggravated_assault"]
emp_axis = CrimesEmploymentByYear_df["emp_rate"]
emplog_axis=CrimesEmploymentByYear_df["emp_rate_log"]

In [ ]:
# Population Graph. Interesting - maybe.
# Create the plot and add a label for the legend.
plt.plot(x_axis, y_axis, color= "b", linewidth=1)
# Other options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Population in Hundred Millions")
plt.title("Population in the USA by Year ")
plt.grid()

In [ ]:
# Unemployment Graph
# Create the plot and add a label for the legend.
plt.plot(x_axis, emp_axis, color= "y", linewidth=1)
# Options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Unemployment Rate")
plt.title("Unemployment Average by Year in the USA")
plt.grid()
#plt.legend()

In [ ]:
### Does a natural log change the distribution? Looks like No!!
#df1['log_value'] = np.log(df1['University_Rank'])#
#CrimesEmploymentByYear_df['emp_rate_log'] = np.log(CrimesEmploymentByYear_df["emp_rate"])#

CrimesEmploymentByYear_df['emp_rate_log'] = np.log(CrimesEmploymentByYear_df["emp_rate"])#
empRL_axis = CrimesEmploymentByYear_df["emp_rate_log"]

plt.plot(x_axis, emp_axis, color= "y", linewidth=1)
# Options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Unemployment Rate")
plt.title("Unemployment Average by Year in the USA")
plt.grid()
#plt.legend()

In [ ]:
# Violent Crime Graph
# Create the plot and add a label for the legend.
plt.plot(x_axis, vc_axis, color= "b", linewidth=1)
# Options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Violent Crime Count")
plt.title("Violent Crime in the USA by Year ")
plt.grid()

In [ ]:
# Robbery Graph
plt.plot(x_axis, rc_axis, color= "g")
# Options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Robbery Count")
plt.title("Robbery in the USA by Year ")
plt.grid()

In [ ]:
# Aggravated Assault Graph
# Create the plot and add a label for the legend.
plt.plot(x_axis, ag_axis, color= "r")
# Options:#marker="*", color="blue", linewidth=1, label='x')
plt.xlabel("Year")
plt.ylabel("Aggravated Assault Count")
plt.title("Aggravated Assault in the USA by Year ")
plt.grid()

#### Create two presentation charts.

In [ ]:
## Plot the Unemployment Chart.

# control the size
fig, ax = plt.subplots(figsize=(30, 10))

ax.set_title("National Unemployment Rate. 1980-2018")

# # configure the properties and label
ax.plot(x_axis, emp_axis, color="m",linewidth=2, label = "Unemployment Rate")

#ax.legend()
lgnd = plt.legend(fontsize="16"
             , scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="upper right")  # place legend in center 
lgnd.legendHandles[0]._sizes = [100] # sets legend handles to 100
lgnd.get_title().set_fontsize(14) # legend title size
lgnd.get_title().set_weight="bold" # bold the legend title

# # Label the axis
ax.set_xlabel("Year")
ax.set_ylabel("Percent Unemployed")

# # Set the x limit between January and June
# #ax.set_xlim(0,5)
# # Set the Y limit between 0 and 45
# #ax.set_ylim(0,45)
 
# # add a grid and legend
#ax.legend()
ax.grid(linewidth=2) 

#  save the figure to drive.
plt.savefig("../Images/EDA-UnemploymentRateSummary.png")
plt.show

In [ ]:
## Plot the Unemployment Chart with a natural log applied to distribution

# control the size
fig, ax = plt.subplots(figsize=(30, 10))

ax.set_title("National Unemployment Rate - Log. 1980-2018")

# # configure the properties and label
ax.plot(x_axis, emplog_axis, color="m",linewidth=2, label = "Unemployment Rate - Log")

#ax.legend()
lgnd = plt.legend(fontsize="16"
             , scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="upper right")  # place legend in center 
lgnd.legendHandles[0]._sizes = [100] # sets legend handles to 100
lgnd.get_title().set_fontsize(14) # legend title size
lgnd.get_title().set_weight="bold" # bold the legend title

# # Label the axis
ax.set_xlabel("Year")
ax.set_ylabel("Percent Unemployed")

# # Set the x limit between January and June
# #ax.set_xlim(0,5)
# # Set the Y limit between 0 and 45
# #ax.set_ylim(0,45)
 
# # add a grid and legend
#ax.legend()
ax.grid(linewidth=2) 

#  save the figure to drive.
plt.savefig("../Images/SecondaryAnalysis-UnemploymentRateLogTransform.png")
plt.show

In [ ]:
## Create a combined plot of the three crimes we are studying.
plt.style.use('fivethirtyeight') # figure style per requirement

fig, ax = plt.subplots(figsize=(30, 10))  ## calls object_oriented method and sets  nice diagonal size

## Build the plot
#ax.plot(x_axis, emp_axis, color="yellow", linewidth=2, label="Unemployment") 
ax.plot(x_axis, vc_axis, color="blue", linewidth=2, label="Violent Crime") 
ax.plot(x_axis, rc_axis, color="green", linewidth=2, label="Robbery")
ax.plot(x_axis, ag_axis, color="red", linewidth=2, label="Aggravated Assault")


# #Set a title
ax.set_title("Violent Crime, Robbery and Aggravated Assault Counts. 1980-2018", fontsize=20, weight="bold")

# # Label the axes
ax.set_xlabel("Year", fontsize=16, weight='bold')
ax.set_ylabel("Crimes Counts", fontsize=16, weight='bold')

## Legend parameters

# sets lgnd as variable for plt.legend() with these parameters.
lgnd = plt.legend(fontsize="16"
             , scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="upper right"  # place legend in center
             , title="Crime Type") # legend title
lgnd.legendHandles[0]._sizes = [100] # sets legend handles to 100
lgnd.legendHandles[1]._sizes = [100] # and so on for 2nd item.
lgnd.legendHandles[2]._sizes = [100] # and so on.
lgnd.get_title().set_fontsize(14) # legend title size
lgnd.get_title().set_weight="bold" # bold the legend title

# Setting grid, with a visible linewidth
ax.grid(linewidth=2) 

##  save the figure to drive.
plt.savefig("../Images/ExploratoryAnalysis_CrimesOfInterest.png")

### show me the dream!!!
plt.show

### Plot data with per Capita counts

In [ ]:
# Define additional Y axis for plotting
vcC_axis = CrimesEmploymentByYear_df["violent_crime_perCap"]
rcC_axis = CrimesEmploymentByYear_df["robbery_perCap"]
agC_axis = CrimesEmploymentByYear_df["aggr_assa_perCap"]

In [ ]:
## Create a combined plot of the three crimes we are studying.
plt.style.use('fivethirtyeight') # figure style per requirement

fig, ax = plt.subplots(figsize=(30, 10))  ## calls object_oriented method and sets  nice diagonal size

## Build the plot
#ax.plot(x_axis, emp_axis, color="yellow", linewidth=2, label="Unemployment") 
ax.plot(x_axis, vcC_axis, color="blue", linewidth=2, label="Violent Crime Per Cap") 
ax.plot(x_axis, rcC_axis, color="green", linewidth=2, label="Robbery Per Cap")
ax.plot(x_axis, agC_axis, color="red", linewidth=2, label="Aggravated Assault Per Cap")

# #Set a title
ax.set_title("Violent Crime, Robbery and Aggravated Assault Rates per Cap. 1980-2018", fontsize=20, weight="bold")

# # Label the axes
ax.set_xlabel("Year", fontsize=16, weight='bold')
ax.set_ylabel("Crimes Rates Per Cap", fontsize=16, weight='bold')

## Legend parameters

# sets lgnd as variable for plt.legend() with these parameters.
lgnd = plt.legend(fontsize="16"
             , scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="upper right"  # place legend in center
             , title="Crime Type") # legend title
lgnd.legendHandles[0]._sizes = [100] # sets legend handles to 100
lgnd.legendHandles[1]._sizes = [100] # and so on for 2nd item.
lgnd.legendHandles[2]._sizes = [100] # and so on.
lgnd.get_title().set_fontsize(14) # legend title size
lgnd.get_title().set_weight="bold" # bold the legend title

# Setting grid, with a visible linewidth
ax.grid(linewidth=2) 

##  save the figure to drive.
plt.savefig("../Images/SecondaryAnalysis_CrimesOfInterestPerCapita.png")

### show me the  plot please!!!
plt.show

### Plot data with only High Unemployment - 6% or over

In [ ]:
## Create a combined plot of the three crimes we are studying.
plt.style.use('fivethirtyeight') # figure style per requirement

# Define additional Y axis for plotting
vcCH_axis = HighEmp_df["violent_crime_perCap"]
rcCH_axis = HighEmp_df["robbery_perCap"]
agCH_axis = HighEmp_df["aggr_assa_perCap"]

fig, ax = plt.subplots(figsize=(30, 10))  ## calls object_oriented method and sets  nice diagonal size

## Build the plot
#ax.plot(x_axis, emp_axis, color="yellow", linewidth=2, label="Unemployment") 
ax.plot(x_axis, vcC_axis, color="blue", linewidth=2, label="Violent Crime Per Cap") 
ax.plot(x_axis, rcC_axis, color="green", linewidth=2, label="Robbery Per Cap")
ax.plot(x_axis, agC_axis, color="red", linewidth=2, label="Aggravated Assault Per Cap")

# #Set a title
ax.set_title("High Unemployment 6%: Violent Crime, Robbery and Aggravated Assault Rates in High Unemployment", fontsize=20, weight="bold")

# # Label the axes
ax.set_xlabel("Year", fontsize=16, weight='bold')
ax.set_ylabel("Crimes Rates Per Cap", fontsize=16, weight='bold')

## Legend parameters

# sets lgnd as variable for plt.legend() with these parameters.
lgnd = plt.legend(fontsize="16"
             , scatterpoints=1 # number of markers in the legend. nice fine continous line.
             , loc="upper right"  # place legend in center
             , title="Crime Type") # legend title
lgnd.legendHandles[0]._sizes = [100] # sets legend handles to 100
lgnd.legendHandles[1]._sizes = [100] # and so on for 2nd item.
lgnd.legendHandles[2]._sizes = [100] # and so on.
lgnd.get_title().set_fontsize(14) # legend title size
lgnd.get_title().set_weight="bold" # bold the legend title

# Setting grid, with a visible linewidth
ax.grid(linewidth=2) 

##  save the figure to drive.
plt.savefig("../Images/SecondaryAnalysis_CrimesInTimesoFHighUemployment.png")

### show me the  plot please!!!
plt.show

### Export the data frames to CSV

In [ ]:
# Export FBI Crimes to CSV
fbi_crimes = "../Resources/CleanedData/FBICrimes.csv"
FBICrimesRaw_df.to_csv(fbi_crimes, index=True)

In [ ]:
# Export Employment to CSV
emp = "../Resources/CleanedData/Employment.csv"
employment_raw_df.to_csv(emp, index=True)

In [ ]:
## Export to a CSV.
crimes_employment = "../Resources/CleanedData/CrimeAndEmploymentByYear.csv"
CrimesEmploymentByYear_df.to_csv(crimes_employment, index=False)

### Export the cleanish tables to SQL

In [25]:
# Create the database engine
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/crime_corona"

# Create the engine
engine = create_engine(db_string)

In [30]:
# Crimes to SQL
FBICrimesRaw_df.to_sql(name='fbi_crimes', con=engine, if_exists='append', index=True)

In [31]:
# Employment to SQL
employment_raw_df.to_sql(name='employment', con=engine, if_exists='append', index=True)

In [33]:
# EmploymentByYear to SQL
CrimesEmploymentByYear_df.to_sql(name='crime_emp_year', con=engine, if_exists='replace', index=False)