### Crime in the time of Corona - Create DB from raw CSV tables

In [1]:
## Add dependencies: Pandas
import pandas as pd
import os # needed to use the os.path.join method to load the files
from sqlalchemy import create_engine # for integrating with PostgreSQL
from config import db_password

#### Incidents: Load raw csv, create dataframe and clean data.

In [5]:
# Load the CSV Files into a dataframes.
incidents_raw_df = pd.read_csv("../Resources - MPD Data/incidentTable.csv")

In [7]:
# Review the incidents table fields and counts of each field.
incidents_raw_df.info()
# 2188 records. Removed MP20009253 from CSV due to very incomplete record.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188 entries, 0 to 2187
Data columns (total 16 columns):
Number                2188 non-null object
dateReported          2188 non-null object
startDate             2188 non-null object
offenseCode           2188 non-null object
offenseDescription    2188 non-null object
streetAddress         2184 non-null object
cityDescription       2140 non-null object
stateDescription      1532 non-null object
zipCode               1875 non-null object
longitude             2170 non-null object
latitude              2170 non-null object
Booked                2188 non-null int64
DAComplaint           2188 non-null int64
Cited                 2188 non-null int64
burglaryFactor        395 non-null object
felonyMisdemeanor     2188 non-null object
dtypes: int64(3), object(13)
memory usage: 273.6+ KB

In [8]:
# Review Number field for uniqueness. Its our primary field
incidents_raw_df.Number.value_counts(sort=True, dropna=True, ascending=False, bins=None)
# Results show 1660 unique values meaning 127 are possible duplicates.
# Looks like Case Number duplication is valid due to multiple offenses under same case.
# Need to create a primary unique field.

MP20006083    3
MP20002469    3
MP20004596    3
MP20009137    3
MP20010261    3
             ..
MP20000204    1
MP20009265    1
MP20004936    1
MP20800849    1
MP20800418    1
Name: Number, Length: 2049, dtype: int64

In [9]:
x=incidents_raw_df[incidents_raw_df["Number"] =='MP2001024070']
x.head()
                 
                   
 #                  passing_math = school_data_complete_df[school_data_complete_df["math_score"] >=70]
#passing_math.head()

Empty DataFrame
Columns: [Number, dateReported, startDate, offenseCode, offenseDescription, streetAddress, cityDescription, stateDescription, zipCode, longitude, latitude, Booked, DAComplaint, Cited, burglaryFactor, felonyMisdemeanor]
Index: []

In [10]:
# Create a primary unique field: Number plus offenseCode. 
# Call it CID for Case Id
incidents_raw_df["CID"] = incidents_raw_df["Number"] + ' - ' + incidents_raw_df["offenseCode"] 
incidents_raw_df.head(3)

,Number,dateReported,startDate,offenseCode,offenseDescription,streetAddress,cityDescription,stateDescription,zipCode,longitude,latitude,Booked,DAComplaint,Cited,burglaryFactor,felonyMisdemeanor,CID
0,MP20000019,"Jan 1, 2020, 8:52:18 AM","Jan 1, 2020, 8:52:18 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,920 PINE TREE LN,MODESTO,CALIFORNIA,95351,-121.0225978,37.61682379,0,0,0,NaN,FELONY,MP20000019 - 10851 VC
1,MP20000040,"Jan 1, 2020, 2:11:00 PM","Jan 1, 2020, 11:25:00 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,901 N CARPENTER RD,MO,NaN,NaN,-121.0309447,37.64774644,0,0,0,NaN,FELONY,MP20000040 - 10851 VC
2,MP20000062,"Jan 1, 2020, 3:28:00 PM","Jan 1, 2020, 3:20:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,1956 EL SERENO ST,MO,NaN,95358,-121.0224092,37.60376174,0,0,0,NaN,FELONY,MP20000062 - 10851 VC

In [11]:
# Check uniqueness of new combined field
incidents_raw_df.CID.value_counts(sort=True, dropna=True, ascending=False, bins=None) 
# Visual review of remaining double entries shows they are in fact duplicates.

MP20007431 - 245 (A)(2) PC    2
MP20001191 - 460 (B) PC       1
MP20008996 - 487 (A) PC       1
MP20001624 - 487 (D)(2) PC    1
MP20011324 - 10851 VC         1
                             ..
MP20800233 - 487 (A) PC       1
MP20009499 - 10851 VC         1
MP20008019 - 243 (E)(1) PC    1
MP20011510 - 273.5 (A) PC     1
MP20002328 - 243 (E)(1) PC    1
Name: CID, Length: 2187, dtype: int64

In [12]:
# Drop the Duplicate Case IDs. Then check counts again.
incidents_raw_df.drop_duplicates(subset ="CID", keep = False, inplace = True)
incidents_raw_df.CID.value_counts(sort=True, ascending=False)

MP20001191 - 460 (B) PC       1
MP20008996 - 487 (A) PC       1
MP20800713 - 460(B) PC        1
MP20001624 - 487 (D)(2) PC    1
MP20011324 - 10851 VC         1
                             ..
MP20800233 - 487 (A) PC       1
MP20009499 - 10851 VC         1
MP20008019 - 243 (E)(1) PC    1
MP20011510 - 273.5 (A) PC     1
MP20002328 - 243 (E)(1) PC    1
Name: CID, Length: 2186, dtype: int64

In [13]:
# Reorder colummns
neworder = ['CID','Number','dateReported','startDate','offenseCode','offenseDescription','streetAddress','cityDescription','stateDescription','zipCode','longitude','latitude','Booked','DAComplaint','Cited','burglaryFactor','felonyMisdemeanor','dateIncident','weekNumber']
incidents_raw_df=incidents_raw_df.reindex(columns=neworder)
incidents_raw_df.head(3)

,CID,Number,dateReported,startDate,offenseCode,offenseDescription,streetAddress,cityDescription,stateDescription,zipCode,longitude,latitude,Booked,DAComplaint,Cited,burglaryFactor,felonyMisdemeanor,dateIncident,weekNumber
0,MP20000019 - 10851 VC,MP20000019,"Jan 1, 2020, 8:52:18 AM","Jan 1, 2020, 8:52:18 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,920 PINE TREE LN,MODESTO,CALIFORNIA,95351,-121.0225978,37.61682379,0,0,0,NaN,FELONY,NaN,NaN
1,MP20000040 - 10851 VC,MP20000040,"Jan 1, 2020, 2:11:00 PM","Jan 1, 2020, 11:25:00 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,901 N CARPENTER RD,MO,NaN,NaN,-121.0309447,37.64774644,0,0,0,NaN,FELONY,NaN,NaN
2,MP20000062 - 10851 VC,MP20000062,"Jan 1, 2020, 3:28:00 PM","Jan 1, 2020, 3:20:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,1956 EL SERENO ST,MO,NaN,95358,-121.0224092,37.60376174,0,0,0,NaN,FELONY,NaN,NaN

In [15]:
# How much data is left in our dataframe?
incidents_raw_df.info()
# 2186 rows.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2186 entries, 0 to 2187
Data columns (total 19 columns):
CID                   2186 non-null object
Number                2186 non-null object
dateReported          2186 non-null object
startDate             2186 non-null object
offenseCode           2186 non-null object
offenseDescription    2186 non-null object
streetAddress         2182 non-null object
cityDescription       2138 non-null object
stateDescription      1532 non-null object
zipCode               1875 non-null object
longitude             2168 non-null object
latitude              2168 non-null object
Booked                2186 non-null int64
DAComplaint           2186 non-null int64
Cited                 2186 non-null int64
burglaryFactor        395 non-null object
felonyMisdemeanor     2186 non-null object
dateIncident          0 non-null float64
weekNumber            0 non-null float64
dtypes: float64(2), int64(3), object(14)
memory usage: 341.6+ KB

In [16]:
## Ok. now we review and clean remaining fields in Incidents table. 
#  Start with the date field. Create a new date field stripped to date without time.
incidents_raw_df["dateIncident"] = pd.to_datetime(incidents_raw_df["dateReported"]).apply(lambda x: x.date())
incidents_raw_df.head(3)

,CID,Number,dateReported,startDate,offenseCode,offenseDescription,streetAddress,cityDescription,stateDescription,zipCode,longitude,latitude,Booked,DAComplaint,Cited,burglaryFactor,felonyMisdemeanor,dateIncident,weekNumber
0,MP20000019 - 10851 VC,MP20000019,"Jan 1, 2020, 8:52:18 AM","Jan 1, 2020, 8:52:18 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,920 PINE TREE LN,MODESTO,CALIFORNIA,95351,-121.0225978,37.61682379,0,0,0,NaN,FELONY,2020-01-01,NaN
1,MP20000040 - 10851 VC,MP20000040,"Jan 1, 2020, 2:11:00 PM","Jan 1, 2020, 11:25:00 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,901 N CARPENTER RD,MO,NaN,NaN,-121.0309447,37.64774644,0,0,0,NaN,FELONY,2020-01-01,NaN
2,MP20000062 - 10851 VC,MP20000062,"Jan 1, 2020, 3:28:00 PM","Jan 1, 2020, 3:20:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,1956 EL SERENO ST,MO,NaN,95358,-121.0224092,37.60376174,0,0,0,NaN,FELONY,2020-01-01,NaN

In [17]:
## Create a new week field so we can do stats of crime types over time by week.
incidents_raw_df['weekNumber'] = pd.to_datetime(incidents_raw_df['dateReported']).dt.week

# This works, but since our data starts in 2019, we have five weeks with numbers over 40. Starting with Week 47 with blank week.
incidents_raw_df.weekNumber.value_counts(sort=True, dropna=True, ascending=False, bins=None)

17    157
13    150
4     144
12    143
16    137
8     132
10    130
11    128
9     128
3     128
15    116
7     112
5     112
14    110
6     103
2      99
1      92
18     61
50      2
47      1
51      1
Name: weekNumber, dtype: int64

In [18]:
## How to fix to make weekNumber column useful for linear regression analysis?
#  Add six to each week number so that the first six slots in the week order can be allocated to 2019
incidents_raw_df['weekNumber']= incidents_raw_df['weekNumber'] + 6

In [19]:
# Now replace the high values for 2019 weeks with proper lower numbers.
incidents_raw_df["weekNumber"].replace({53:1,54:2,55:3,56:4,57:5,58:6}, inplace=True)

In [20]:
# How does the weekNumber field tally look now? Sweet!
incidents_raw_df.weekNumber.value_counts(sort=True, ascending=False, bins=None)

23    157
19    150
10    144
18    143
22    137
14    132
16    130
17    128
15    128
9     128
21    116
13    112
11    112
20    110
12    103
8      99
7      92
24     61
4       2
5       1
1       1
Name: weekNumber, dtype: int64

In [21]:
## final view before export of raw cleaned. 
#incidents_raw_df.reset_index(drop=True)
incidents_raw_df.head()
#df.reset_index(drop=True)

,CID,Number,dateReported,startDate,offenseCode,offenseDescription,streetAddress,cityDescription,stateDescription,zipCode,longitude,latitude,Booked,DAComplaint,Cited,burglaryFactor,felonyMisdemeanor,dateIncident,weekNumber
0,MP20000019 - 10851 VC,MP20000019,"Jan 1, 2020, 8:52:18 AM","Jan 1, 2020, 8:52:18 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,920 PINE TREE LN,MODESTO,CALIFORNIA,95351,-121.0225978,37.61682379,0,0,0,NaN,FELONY,2020-01-01,7
1,MP20000040 - 10851 VC,MP20000040,"Jan 1, 2020, 2:11:00 PM","Jan 1, 2020, 11:25:00 AM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,901 N CARPENTER RD,MO,NaN,NaN,-121.0309447,37.64774644,0,0,0,NaN,FELONY,2020-01-01,7
2,MP20000062 - 10851 VC,MP20000062,"Jan 1, 2020, 3:28:00 PM","Jan 1, 2020, 3:20:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,1956 EL SERENO ST,MO,NaN,95358,-121.0224092,37.60376174,0,0,0,NaN,FELONY,2020-01-01,7
3,MP20000069 - 10851 VC,MP20000069,"Jan 1, 2020, 6:57:00 PM","Jan 1, 2020, 4:30:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,3401 DALE RD,MO,NaN,NaN,-121.0529289,37.68949614,0,0,0,NaN,FELONY,2020-01-01,7
4,MP20000084 - 10851 VC,MP20000084,"Jan 1, 2020, 10:20:00 PM","Jan 1, 2020, 7:00:00 PM",10851 VC,10851 VC AUTO THEFT 07 Motor Vehicle Theft 44,1808 USTICK RD,MO,NaN,95358,-121.0114855,37.602862,0,0,0,NaN,FELONY,2020-01-01,7

In [22]:
#Review
incidents_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2186 entries, 0 to 2187
Data columns (total 19 columns):
CID                   2186 non-null object
Number                2186 non-null object
dateReported          2186 non-null object
startDate             2186 non-null object
offenseCode           2186 non-null object
offenseDescription    2186 non-null object
streetAddress         2182 non-null object
cityDescription       2138 non-null object
stateDescription      1532 non-null object
zipCode               1875 non-null object
longitude             2168 non-null object
latitude              2168 non-null object
Booked                2186 non-null int64
DAComplaint           2186 non-null int64
Cited                 2186 non-null int64
burglaryFactor        395 non-null object
felonyMisdemeanor     2186 non-null object
dateIncident          2186 non-null object
weekNumber            2186 non-null int64
dtypes: int64(4), object(15)
memory usage: 341.6+ KB

In [23]:
## Create a list of unique cases for RDB
case_list_df= incidents_raw_df[["CID","Number"]].copy()
case_list_df.head()
case_list_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2186 entries, 0 to 2187
Data columns (total 2 columns):
CID       2186 non-null object
Number    2186 non-null object
dtypes: object(2)
memory usage: 51.2+ KB

#### People -  Suspects and Victims: Load raw csv, create dataframes and clean data.

In [26]:
# Load the suspects csv into a dataframe.
involvement_raw_df = pd.read_csv("../Resources - MPD Data/involvementTable.csv")
involvement_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4563 entries, 0 to 4562
Data columns (total 5 columns):
Number             4563 non-null object
involvementType    4563 non-null object
personID           4563 non-null int64
age                4563 non-null object
sex                4563 non-null object
dtypes: int64(1), object(4)
memory usage: 178.4+ KB

In [28]:
# Drop where both Age and Sex are NULL
involvement_raw_df.dropna(subset=['age', 'sex'], inplace=True)
involvement_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4563 entries, 0 to 4562
Data columns (total 5 columns):
Number             4563 non-null object
involvementType    4563 non-null object
personID           4563 non-null int64
age                4563 non-null object
sex                4563 non-null object
dtypes: int64(1), object(4)
memory usage: 213.9+ KB

In [29]:
# Create a dataframe of just people.  Needed for RDB. 
people_df= involvement_raw_df[["personID","age","sex"]].copy()
people_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4563 entries, 0 to 4562
Data columns (total 3 columns):
personID    4563 non-null int64
age         4563 non-null object
sex         4563 non-null object
dtypes: int64(1), object(2)
memory usage: 142.6+ KB

In [31]:
# Drop Dupes
people_df=people_df.drop_duplicates("personID")
people_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4366 entries, 0 to 4562
Data columns (total 3 columns):
personID    4366 non-null int64
age         4366 non-null object
sex         4366 non-null object
dtypes: int64(1), object(2)
memory usage: 136.4+ KB

In [33]:
# Review
people_df.head()

   personID age     sex
0      4001  71  FEMALE
2      4002  69    MALE
4      4003  65    MALE
6      4004  63    MALE
7      4005  63    MALE

#### Penal Codes: Create dataframe and clean data.

In [35]:
## Now we look at our offense codes. 
incidents_raw_df.offenseCode.value_counts(sort=True, ascending=False, )
# Need a subject matter expert. This could be ok. Or not.

10851 VC             433
460(B) PC            343
243 (E)(1) PC        222
488 PC               213
273.5 (A) PC         177
460 (B) PC           167
460 (A) PC           154
487 (A) PC           113
245 (A)(1) PC         84
211 PC                70
245 (A)(4) PC         62
243 (D) PC            27
664 /460 (B) PC       23
245 (A)(2) PC         15
484 (A) PC            13
664 /211 PC           11
451 (D) PC             9
664 /460 (A) PC        8
664 /187 (A) PC        6
487 (D)(2) PC          4
187 (A) PC             4
243.4 (A) PC           4
463 (A) PC             4
212.5 (A) PC           3
463 (B) PC             2
215 (A) PC             2
487 (D) PC             2
243.3 PC               1
273.5 (F)(1) PC        1
664 /460 PC            1
463 (C) PC             1
243.4 (D) PC           1
487 (C) PC             1
487 (B)(3) PC          1
244 PC                 1
664 /261 PC            1
203 PC                 1
664 /212.5 (A) PC      1
Name: offenseCode, dtype: int64

In [36]:
# Create the Penal Codes dataframe
#penal_codes_df = incidents_raw_df[["Penal_Code","Penal_Desc"]].copy()
penal_codes_df = incidents_raw_df[["offenseCode","offenseDescription"]].copy()
penal_codes_df.head(3)

  offenseCode                             offenseDescription
0    10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
1    10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
2    10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44

In [37]:
# Rename the columns
penal_codes_df.rename(columns={"offenseCode": "Penal_Code", "offenseDescription": "Penal_Desc"}, inplace=True)
penal_codes_df.head()

  Penal_Code                                     Penal_Desc
0   10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
1   10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
2   10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
3   10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44
4   10851 VC  10851 VC AUTO THEFT 07 Motor Vehicle Theft 44

In [38]:
# quick view
penal_codes_df.Penal_Code.value_counts(sort=True, ascending=False)

10851 VC             433
460(B) PC            343
243 (E)(1) PC        222
488 PC               213
273.5 (A) PC         177
460 (B) PC           167
460 (A) PC           154
487 (A) PC           113
245 (A)(1) PC         84
211 PC                70
245 (A)(4) PC         62
243 (D) PC            27
664 /460 (B) PC       23
245 (A)(2) PC         15
484 (A) PC            13
664 /211 PC           11
451 (D) PC             9
664 /460 (A) PC        8
664 /187 (A) PC        6
487 (D)(2) PC          4
187 (A) PC             4
243.4 (A) PC           4
463 (A) PC             4
212.5 (A) PC           3
463 (B) PC             2
215 (A) PC             2
487 (D) PC             2
243.3 PC               1
273.5 (F)(1) PC        1
664 /460 PC            1
463 (C) PC             1
243.4 (D) PC           1
487 (C) PC             1
487 (B)(3) PC          1
244 PC                 1
664 /261 PC            1
203 PC                 1
664 /212.5 (A) PC      1
Name: Penal_Code, dtype: int64

In [39]:
# Drop Duplicates
penal_codes_df.drop_duplicates(subset ="Penal_Code", keep = False, inplace = True)
penal_codes_df.Penal_Code.value_counts()

244 PC               1
664 /261 PC          1
203 PC               1
273.5 (F)(1) PC      1
664 /212.5 (A) PC    1
664 /460 PC          1
243.4 (D) PC         1
487 (B)(3) PC        1
243.3 PC             1
463 (C) PC           1
487 (C) PC           1
Name: Penal_Code, dtype: int64

In [40]:
##Quick View
penal_codes_df.head()

           Penal_Code                                         Penal_Desc
437            203 PC            203 PC MAYHEM 04 Aggravated Assault 824
762          243.3 PC  243.3 PC BATTERY ON TRANSPORTATION PERSONNEL /...
767      243.4 (D) PC  243.4 (D) PC SEXUAL BATTERY FOR THE PURPOSE OF...
768            244 PC  244 PC ASSAULT WITH CAUSTIC CHEMICAL/ETC 04 Ag...
1109  273.5 (F)(1) PC  273.5 (F)(1) PC INFLICT CORPORAL INJURY ON SPO...

### Export Files to CSV

In [46]:
# Crimes to CSV
cleaned_incidents = "../Resources/CleanedData/Cleaned_Incidents.csv"
incidents_raw_df.to_csv(cleaned_incidents, index=False)

In [47]:
# Unique cases to CSV
unique_cases = "../Resources/CleanedData/Unique_Cases.csv"
case_list_df.to_csv(unique_cases, index=False)

In [51]:
# People  to CSV
output_people = "../Resources/CleanedData/People.csv"
people_df.to_csv(output_people, index=False)

In [49]:
# Involvement list to CSV - no changes in this script from import state.
output_cases_people = "../Resources/CleanedData/Cleaned_Involvement.csv"
involvement_raw_df.to_csv(output_cases_people, index=False)

In [50]:
# Penal Codes to CSV
output_penal_codes = "../Resources/CleanedData/Penal_Codes.csv"
penal_codes_df.to_csv(output_penal_codes, index=False)

### Export dataframes to SQL tables in crime_corona db

In [17]:
# Create the database engine
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/crime_corona"

# Create the engine
engine = create_engine(db_string)

In [223]:
# Unique cases to SQL
case_list_df.to_sql(name='unique_cases', con=engine, if_exists='append',index=False)

In [224]:
# Crimes list - cleaned original with all details to SQL
incidents_raw_df.to_sql(name='incidents', con=engine, if_exists='append',index=False)

In [225]:
# Suspects to SQL
suspects_load_df.to_sql(name='suspects', con=engine, if_exists='append', index=False)

In [234]:
# Case Suspects
case_suspects_df.to_sql(name='case_suspects', con=engine, if_exists='append',index=False)

In [ ]:
 first create the SQL tables - confirm

In [ ]:
# Victims to SQL
victims_raw_df.to_sql(name='victims', con=engine, if_exists='append', index=False)

In [ ]:
# Case Victims
case_victimes_df.to_sql(name='case_victims', con=engine, if_exists='append',index=False)

In [125]:
# Penal Codes to SQL
penal_codes_df.to_sql(name='penal_codes', con=engine, if_exists='replace', index=False)